@{
	ViewBag.Title = "制备样打印";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>


	<style media=print>

		.Noprint {
			display: none;
		}

		.PageNext {
			page-break-after: always;
		}
	</style>

	<style>
		.QrStyle {
			width: 256px;
			height: 256px;
			float: left;
			margin-left: 0px;
		}
	</style>

	<link rel="stylesheet" href="~/Content/css/css.css">
	<script src="~/Scripts/jquery-1.11.3.min.js"></script>
	<!--[if lt IE 9]>
	<script src="https:// oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
	</script>
	<script src="https:// oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
	</script>
	<![endif]-->
</head>

<div class="Noprint" style="padding: 20px; font-size:20px;">
	<table cellpadding="5" cellspacing="5" border="0">
		<tbody>
			<tr>
				<td style="margin-right:8px;">
					<span>到样时间：</span>
				</td>
				<td>
					<input type="date" id="from_date" />
				</td>
				<td style="margin-right:8px;">
					<span>领样时间：</span>
				</td>
				<td>
					<input type="date" id="ly_date" />
				</td>
				<td><input type="button" name="searchbutton" value=" 查 询 " class="mybutton" onclick="query_samples()" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="M">
	<div class="man">
		<table width="100%" class="table1">
			<tbody>
				<tr>
					<td width="49.3%" class="td1 Noprint">
						<h3>数据列表</h3>
						<table width="100%" class="table2 mgt20" id="tb_samples">
							<tbody>
								<tr>
									<td>序号</td>
									<td>选择</td>
									<td>报告编号</td>
									<td>选择分号</td>
									<td>样品种类</td>
									<td>样品标签数</td>
									<td>操作列</td>
								</tr>
								<tr></tr>
							</tbody>
						</table>
					</td>
					<td width="1.4%" class="td2 Noprint"></td>
					<td width="49.3%" class="td3">
						<div class="dv8 Noprint">
							<p class="ewm hov7" onclick="make_qrs()">制样</p>
							<p class="ewm hov7" onclick="print1()">打印</p>
						</div>
						<div id="qr_divs">

						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>



<script type="text/javascript">
	var start = document.getElementById("from_date");
	var Dates = new Date();
	var Y = Dates.getFullYear();
	var M = Dates.getMonth() + 1;
	var D = Dates.getDate();
	var times = Y + (M < 10 ? "-0" : "-") + M + (D < 10 ? "-0" : "-") + D;

	start.value = times;


	var samples_data = null;
	function query_samples() {
		var fd = $("#from_date").val();
		var ly_date = $("#ly_date").val();
		var url = "/assetmanage/amsample/getSampleDetail?from_date=" + fd + "&ly_date=" + ly_date;
		RoadUI.Core.showWait();
		$.ajax({
			//headers: { "__RequestVerificationToken": $("input[name='__RequestVerificationToken']").val() },
			url: url, contentType: RoadUI.Core.ajaxContentType, type: "Post", dataType: "json", cache: false, async: true,
			success: function (json) {
				if (json.status == 0) {
					alert("录入错误：" + json.msg);
					return;
				}
	
				samples_data = json.data;
				$("#tb_samples tr:not(:first)").empty()
				for (j = 0, len = samples_data.length; j < len; j++) {
					var sels = '';
					
					for (n = 0; n < samples_data[j]['nos'].length; n++) {
						sels += '<span><input type="checkbox" id="no_chk_{0}_{1}_{2}" />{2}</span>'.format(j,n, samples_data[j]['nos'][n]);
					}

					var tp = samples_data[j].type;
					tpname = "检验样";
					if (tp == 1) {
						tpname = "复检样";
					} else if (tp == 2) {
						tpname = "制备样";
					}
					var tr = '<tr><td>{0}</td ><td><input type="checkbox" id="schk_{0}" /></td><td>{1}</td><td>{2}</td><td>{3}</td><td>\
						<input class="ipt1" type = "text" placeholder = "1" id="fys_{0}" ></td>\
						<td><a href="javascript:modify_qr({0});" class="hov7 p5">修改</a></td></tr>'.format(j, samples_data[j].bgbh, sels, tpname);
					addTr('tb_samples', j + 1, tr);
				}

				new RoadUI.Window().close();
			},
			error: function (json) {
				RoadUI.Core.showError(json);
				new RoadUI.Window().close();
			}
		});
	}

	function make_qrs() {
		for (j = 0, len = samples_data.length; j < len; j++) {
			var qr_div_id = "qr_div_" + j;
			if ($("#" + qr_div_id).length == 0) {
				$("#qr_divs").append('<div id="{0}"></div>'.format(qr_div_id));
			} else {
				$("#" + qr_div_id).empty();
			}

			if ($("#schk_" + j).prop("checked")) {
				modify_qr(j);
			}
		}
	}

	function clear_qrs() {
		for (j = 0, len = samples_data.length; j < len; j++) {
			var qr_div_id = "qr_div_" + j;
			if ($("#" + qr_div_id).length > 0) {
				$("#" + qr_div_id).empty();
			}
		}
	}

	function modify_qr(sno) {

		if (!$("#schk_" + sno).prop("checked")) {
			alert(sno+ " no checked");
			return;
		}
		var isPage = true;
		var fys = $("#fys_" + sno).val();
		if (!fys) {
			fys=1;
		}
		fys = parseInt(fys);

		var qr_div_id = "qr_div_" + sno;
		if ($("#" + qr_div_id).length == 0) {
			$("#qr_divs").append('<div id="{0}"></div>'.format(qr_div_id));
		} else {
			$("#" + qr_div_id).empty();
		}

		var bgbh = samples_data[sno].bgbh;
		var ypmc = samples_data[sno].ypmc;

		var checks = 0;
		for (var i = 0; i < samples_data[sno].nos.length; i++) {
			var qid = 'no_chk_{0}_{1}_{2}'.format(sno, i, samples_data[sno].nos[i]);
			if ($('#' + qid).prop('checked')) {
				checks += 10 + parseInt(samples_data[sno].nos[i]);
			}
		}

		if (!checks) {
			return;
		}
		var total = fys;
		for (var i = 0; i < total; i++) {
			qr_id = qr_div_id + '_' + i;
			var tp = 2;
			var fh = i + 1 + checks;
			var uuid = randNow();
			var PageNext = 'PageNext';
			dt = '<ul class="ul01"><li >\
				<div class="QrStyle" id = "{0}" ></div > <div class="dvr">\
				<p class="p1">编号：{1} 分号：{2}</p><input type="text" id="fh_{0}" value="{2}" style="display:none;"/>\
				<p class="p2" > 名称：{3}</p>\
				<p class="p3">制备：<span>{4}</span>制备样</p>\
				<div class="dv4"><p><label class="lab2"><input type="checkbox" name="checkbox2"><em></em><span>待检</span></label></p><p><label class="lab2"><input type="checkbox" name="checkbox2"><em></em><span>在检</span></label></p><p><label class="lab2"><input type="checkbox" name="checkbox2"><em></em><span>检毕</span></label></p></div></div></li>\
                </ul><input type="text" id="id_{0}" value="{5}" style="display:none;"/><div name="page_div" class="{6}"></div>'.format(qr_id, bgbh, fh, ypmc, times, uuid, PageNext);

			var url = '@Url.Content(YJ.Utility.Config.WebUrl + "/AssetManage/AmSample/getSams?uuid=")' + uuid;


			$("#" + qr_div_id).append(dt);
			var qrcode = new QRCode(document.getElementById(qr_id), {
					width: 240,
					height: 240
			});
			qrcode.makeCode(url);
		}
	}

	function sync2db() {
		var total_obj = [];
		for (j = 0, len = samples_data.length; j < len; j++) {
			if (!$("#schk_" + j).prop("checked")) {
				continue;
			}
			var fys = $("#fys_" + j).val();
			if (!fys) {
				fys = 1;
			}
			fys = parseInt(fys);
			var total = fys;
			var qr_div_id = "qr_div_" + j;
			var bgbh = samples_data[j].bgbh;
			var jsonObj = [];
			for (var i = 0; i < total; i++) {
				qr_id = qr_div_id + '_' + i;
				var uuid = $("#id_" + qr_id).val();
				var fh = $("#fh_" + qr_id).val();
				jsonObj.push({ "bgbh": bgbh, "no": fh, "type": 2, "ID": uuid});
			}
			var jsonObj2 = [];
			for (var i = 0; i < samples_data[j].nos.length; i++) {
				var qid = 'no_chk_{0}_{1}_{2}'.format(j,i, samples_data[j].nos[i]);
				if ($('#' + qid).prop('checked')) {
					jsonObj2.push(samples_data[j].ids[i]);
				}
			}
			total_obj.push({ "new": jsonObj, "used": jsonObj2});
		}
		//alert(JSON.stringify(total_obj));
		url = '/AssetManage/AmSample/printZBDetail?';
		RoadUI.Core.showWait();
		$.ajax({
			url: url, contentType: RoadUI.Core.ajaxContentType, type: "Post", dataType: "json", cache: false, async: true,
			data: JSON.stringify(total_obj),
			success: function (json) {
				//alert(json.msg);
				new RoadUI.Window().close();
				clear_qrs();
				query_samples();
			},
			error: function (json) {
				//alert(XMLHttpRequest.status);
				//alert(XMLHttpRequest.readyState);
				RoadUI.Core.showError(json);
				new RoadUI.Window().close();
			}
		});
	}

    function print1() {
		//var newstr = document.getElementById("qr_divs").innerHTML;
		//var oldstr = document.body.innerHTML;
		//document.body.innerHTML = '<div class="M">'+newstr+'</div>';
		var dayObj = $('div[name="page_next"]');
		if (dayObj.length > 0) {
			dayObj[-1].setAttribute("class", "");
		}
		window.print();
		//document.body.innerHTML = oldstr;

		sync2db();
	}

	query_samples();

</script>
