@{
    ViewBag.Title = "Index";
    Page.BodyStyle = "style='padding:2px 0; overflow:hidden;'";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string rootid = new YJ.Platform.Dictionary().GetIDByCode("AeestType").ToString();
}
<table cellpadding="0" cellspacing="1" border="0" width="100%">
    <tr>
        <td style="width:230px; vertical-align:top; padding:5px 5px 0 5px;">
            <iframe id="Iframe1" frameborder="0" scrolling="auto" src="AssetType/Tree?appid=@Request.QueryString["appid"]" style="width:100%;margin:0;padding:0;"></iframe> 
        </td>
        <td class="organizesplit">
            <iframe id="Iframe2" frameborder="0" scrolling="auto" src="AssetType/Body?id=@rootid&appid=@Request.QueryString["appid"]" style="width:100%;margin:0;padding:0;"></iframe> 
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(function ()
    {
        var height = $(window).height();
        $('#Iframe1').attr('height', height - 10);
        $('#Iframe2').attr('height', height - 10);
    });
</script>

